.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 14px;
  font-weight: bold;
}
.avatar {
  width: 228px;
  height: 312px;
  margin: 0 auto;
  object-fit: contain;
}
.project-card {
  position: relative;
  width: calc(
    22.3% - 13.3px
  ); /* Fluid 3 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
}
@media screen and (max-width: 1199px) {
  .project-card {
    width: calc(
      50% - 10px
    ); /* Fluid 2 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
  }
}
@media screen and (max-width: 768px) {
  .project-card {
    width: 100%; /* 1 column */
  }
}

.card .card-text {
  padding: 0.1rem 0.2rem;
}

.project-card .card{
  border-radius: 10%;
}

.calendar-day {
  width: auto; /* Set a fixed width for the cells */
  height: auto; /* Set a fixed height for the cells */
  min-width: 50px;
  min-height: 50px;
  text-align: center; /* Align the text horizontally to the center */
  vertical-align: middle; /* Align the text vertically to the middle */
}
.calendar-cell {
  text-align: center; /* Align the text horizontally to the center */
  vertical-align: middle; /* Align the text vertically to the middle */
  width: auto; /* Set a fixed width for the cells */
  height: auto;
}

.today {
  text-align: center; /* Align the text horizontally to the center */
  vertical-align: middle; /* Align the text vertically to the middle */
  width: auto; /* Set a fixed width for the cells */
  height: auto; /* Set a fixed height for the cells */
  background-color: rgb(23, 49, 111);
  color: rgb(228, 232, 241);
  border-radius: 10px; /* Example background color for today's date */
}

.has-event {
  text-align: center; /* Align the text horizontally to the center */
  vertical-align: middle; /* Align the text vertically to the middle */
  width: auto; /* Set a fixed width for the cells */
  height: auto; /* Set a fixed height for the cells */
  background-color: rgb(228, 154, 84);
  color: rgb(228, 232, 241); /* Example background color for today's date */
  border-radius: 10px;
}