.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 14px;
  font-weight: bold;
}
.avatar {
  width: 228px;
  height: 312px;
  margin: 0 auto;
  object-fit: contain;
}
.project-card {
  position: relative;
  width: calc(
    22.3% - 13.3px
  ); /* Fluid 3 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
}
@media screen and (max-width: 1199px) {
  .project-card {
    width: calc(
      50% - 10px
    ); /* Fluid 2 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
  }
}
@media screen and (max-width: 768px) {
  .project-card {
    width: 100%; /* 1 column */
  }
}

.card .card-text {
  padding: 0.1rem 0.1rem;
}

.project-card .card{
  border-radius: 1.25rem;
}
