.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 14px;
  font-weight: bold;
}
.avatar {
  width: 228px;
  height: 312px;
  margin: 0 auto;
  object-fit: contain;
}
.project-card {
  position: relative;
  width: calc(
    22% - 5px
  ); /* Fluid 3 columns ($gutter * ($number_of_cols - 1) / $number_of_cols; following https://stackoverflow.com/a/51290967) */
}